body{
    position: relative;
    background-image: url('../images/background-page.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 100px;
    min-height: 100vh;
}

header, footer{
    padding: 15px;
    text-align: center;
    background-color: #0b1431;
    color: white;
}

footer{
    font-style: oblique;
    position: absolute;
    width: 100%;
    bottom: 0;
}

footer span{
    color: #34cbd3;
}

.box-content{

}

.title-box{
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.title-box i{
    margin-left: 5px;
}

.box-operation, .box-result{
    margin: auto;
    margin-top: 15px;
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 90%;
    text-align: center;

}

.box-operation{
    position: relative;
    min-height: 350px;
    height: 350px;
    color: #fff;
}

.box-result{
    min-height: 145px;
    height: 145px;
    color: #000;
    background-color: #c7c7c7;
    margin-bottom: 20px;
}

.box-operation input{
    width: 100%;
    padding: 10px;
    background: transparent;
    border: 1px solid #fff;
    height: 35px;
    border-radius: 5px;
    margin: 10px 0 10px 0;
    color: #fff;
}

.box-operation input::placeholder{
    color: #fff;
    opacity: 0.5;
}

.box-operation button{
    display: block;
    position: absolute;
    bottom: 10px;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: none;
    border: none;
    background-color: #34cbd3;
    width: 90%;
    height: 35px;
    border-radius: 5px;
    color: black;
}

.box-operation button:hover{
    background-color: #66f7ff;
}

.box-result ul{
    padding-left: 0;
}

.box-result ul li{
    list-style: none;
}

.container-custom{
padding-top: 100px;
}